<h1>АКЦИЯ!</h1>
<ul class="actions">
   	<% @actions.each do |action| %>
    <li>
        <div class="left-span">
      		<div class="timer">
       			<i class="num hd"><%= action[:hours] / 10 %></i>
   				<i class="num ha"><%= action[:hours] % 10 %></i>
       			<i class="del">:</i>
       			<i class="num md"><%= action[:minutes] / 10 %></i>
       			<i class="num ma"><%= action[:minutes] % 10 %></i>
       			<i class="del">:</i>
       			<i class="num sd"><%= action[:seconds] / 10 %></i>
       			<i class="num sa"><%= action[:seconds] % 10 %></i>
            </div>
       		<b class="big-text">До окончания!</b>
        </div>
        <div class="right-span">
      		<p class="desc">
       			<%= action[:description] %>
       		</p>
   		    <a href="#go" title="" class="btn invert">Заказать</a>
        </div>
   	</li>
    <% end %>
</ul>