<% pages = [:orders, :statistics, :change_services, :change_actions, :change_review, :change_partners] %> 

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<![endif]-->
		<!--[if (gte IE 5.5)&(lte IE 8)]>
		<script type="text/javascript" src="/js/DOMAssistantCompressed-2.8.1.js"></script>
		<script type="text/javascript" src="/js/selectivizr-min.js"></script>
		<![]endif-->
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/admin.css"/>
		
		<script src="/js/jquery.min.js" type="text/javascript"></script>
		<script src="/js/admin.js" type="text/javascript"></script>
	</head>
	<body>
		<header id="header" class="">
			<%= erb :menu %>
		</header><!-- /header -->
		
		<script src="/js/admin.js" type="text/javascript" charset="utf-8" async defer></script>
		<% pages.each do |page| %>
		    <section class="group" id="<%= page.to_s %>">
		        <%= erb page %>
		    </section>
		<% end %>

	</body>
</html>
