<h1>Партнеры</h1>
<table>
	<tr>
		<td>id</td>
		<td>url</td>
		<td>Изображение</td>
		<td colspan="2">Операции</td>
	</tr>
	<% index = 0; @partners.each do |partner| %>
	<tr>
		<form action="/change/partner/<%= index %>" method="post" accept-charset="utf-8">
			<td><%= index %></td>
			<td>
				<input type="url" name="url" value="<%= partner[:href] %>" placeholder="">
			</td>	
			<td>
				<input type="image" name="image" value="<%= partner[:img] %>" placeholder="">
			</td>
			<td><input type="submit" class="btn btn-small" value="Изменить"></td>
			<td><a href="/delete/partner/<%= index %>" class='btn btn-small delete'>Удалить</a></td>
		</form>
	</tr>
	<% index += 1 %>
	<% end %>
	<tr>
		<form action="/create/partner" method="post" accept-charset="utf-8">
			<td>&nbsp;</td>
			<td>
				<input type="url" name="url" placeholder="">
			</td>	
			<td>
				<input type="image" name="image" placeholder="">
			</td>
			<td colspan="2"><input type="submit" value="Создать"></td>
		</form>
	</tr>
</table>