<h1>Услуги</h1>
<table>
	<tr>
		<td>id</td>
		<td>Название</td>
		<td>Изображение</td>
		<td>Описание</td>
		<td colspan="2">Операции</td>
	</tr>
	<% index = 0; @services.each do |s| %>
	<tr>
		<form action="/change/service/<%= index %>" method="post" accept-charset="utf-8">
			<td><%= index %></td>
			<td><input type="text" name="name" value="<%= s[:name] %>" placeholder=""></td>
			<td><input type="image" name="img" value="<%= s[:img] %>" placeholder=""></td>
			<td><textarea name="review"><%= s[:description] %></textarea></td>
			<td><input type="submit" class="btn btn-small" value="Изменить"></td>
			<td><a href="/delete/service/<%= index %>" class='btn btn-small delete'>Удалить</a></td>
		</form>
	</tr>
	<% index += 1 %>
	<% end %>
	<tr>
		<form action="/create/services" method="post" accept-charset="utf-8">
			<td>&nbsp;</td>
			<td><input type="text" name="name" placeholder=""></td>
			<td><input type="image" name="img" placeholder=""></td>
			<td><textarea name="review"></textarea></td>
			<td colspan="2"><input type="submit" value="Создать"></td>
		</form>
	</tr>
</table>