<h1>Акции</h1>
<table>
	<tr>
		<td>id</td>
		<td>Срок</td>
		<td>Время</td>
		<td colspan="2">Операции</td>
	</tr>
	<% index = 0; @actions.each do |action| %>
	<tr>
		<form action="/change/action/<%= index %>" method="post" accept-charset="utf-8">
			<td><%= index %></td>
			<td>
				<input type="datetime" name="datetime" value="<%= (Time.now + (action[:seconds] + action[:minutes] * 60 + action[:hours] * 3600)) %>" placeholder="">
			</td>	
			<td>
				<textarea name="description"><%= action[:description] %></textarea>
			</td>
			<td><input type="submit" class="btn btn-small" value="Изменить"></td>
			<td><a href="/delete/action/<%= index %>" class='btn btn-small delete'>Удалить</a></td>
		</form>
	</tr>
	<% index += 1 %>
	<% end %>
	<tr>
		<form action="/create/action" method="post" accept-charset="utf-8">
			<td>&nbsp;</td>
			<td>
				<input type="datetime" name="datetime" placeholder="<%= (Time.now + 24 * 3600) %>"/>
			</td>
			<td>
				<textarea name="description"></textarea>
			</td>
			<td colspan="2"><input type="submit" value="Создать"></td>
		</form>
	</tr>
</table>