<h1>Отзывы</h1>
<table>
	<tr>
		<td>id</td>
		<td>Имя</td>
		<td>Изображение</td>
		<td>Отзыв</td>
		<td colspan="2">Операции</td>
	</tr>
	<% index = 0; @reviews.each do |r| %>
	<tr>
		<form action="/change/review/<%= index %>" method="post" accept-charset="utf-8">
			<td><%= index %></td>
			<td><input type="text" name="name" value="<%= r[:name] %>" placeholder=""></td>
			<td><input type="image" name="img" value="<%= r[:image] %>" placeholder=""></td>
			<td><textarea name="review"><%= r[:review] %></textarea></td>
			<td><input type="submit" class="btn btn-small" value="Изменить"></td>
			<td><a href="/delete/review/<%= index %>" class='btn btn-small delete'>Удалить</a></td>
		</form>
	</tr>
	<% index += 1 %>
	<% end %>
	<tr>
		<form action="/create/review" method="post" accept-charset="utf-8">
			<td>&nbsp;</td>
			<td><input type="text" name="name" placeholder=""></td>
			<td><input type="image" name="img" placeholder=""></td>
			<td><textarea name="review"></textarea></td>
			<td colspan="2"><input type="submit" value="Создать"></td>
		</form>
	</tr>
</table>