<form class="form" action="/send_alarm" method="post" accept-charset="utf-8">
    <h1>БЛАНК ЗАКАЗА</h1>
    <div class="f1">
     <label for="last_name">Фамилия:</label>
     <input type="text" name="last_name" placeholder="Фамилия"/><br>
     <label for="first_name">Имя:</label>
     <input type="text" name="first_name" placeholder="Имя"/><br>
     <label for="email">email:</label>
     <input type="email" name="email" placeholder="email"/><br>
     <label for="phone">Номер телефона:</label>
     <input type="tel" name="phone" placeholder="Phone number"/><br>
    </div>
    <input type="submit" class="btn" value="Заказать"/>
</form>