<div class="background slider" data-current="1">
    <img src="/images/slide1.jpg">
    <img src="/images/slide2.jpg">
    <img src="/images/slide3.jpg">
    <div class="prev"></div>
    <div class="next"></div>
</div>

<div class="header-row">
    <div>
        <img src="/images/logo.png" alt="Avtovo" id="sto_logo" />
        <p class="phone">+7 (812) 900-45-36</p>
    </div>
</div>

<div class="header-row">
    <div>
        <div class="top-row">
            <p>
                <span>Свяжитесь</span> с нами для получения <span>качественного технического обслуживания</span>
            </p>
        </div>
        <div class="top-row">
            <%= erb :mini_form %>
        </div>        
    </div>
</div>

<div class="header-row">
    <div>
        &nbsp;
    </div>
</div>