<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<!--[if lt IE 9]>
<script src="/js/html5shiv.js"></script>
<![endif]-->
<!--[if (gte IE 5.5)&(lte IE 8)]>
<script type="text/javascript" src="/js/DOMAssistantCompressed-2.8.1.js"></script>
<script type="text/javascript" src="/js/selectivizr-min.js"></script>
<![]endif-->
<script src="/js/jquery.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/slider.js"></script>
<script src="js/modernizr-2.6.2.min.js"></script>
<script src="/js/global.min.js"></script>

<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/slider.css">
<link rel="stylesheet" type="text/css" href="/css/animate.css">