<% pages = [:select, :services, :actions, :review, :sertification, :clients, :partners, :go, :map] %>
<% pages.each do |page| %>
    <section class="group" id="<%= page.to_s %>">
        <%= erb page %>
    </section>
<% end %>