<!DOCTYPE html>
<html>
	<head>
        <%= erb :head %>
        <title><%= title %></title>
	</head>
	<body>
        <%= erb :menu %>
        <header id="header" class="rubberBand">
            <%= erb :header %>
        </header>
        <section id="main">
            <%= yield %>
        </section>
        <footer id="footer">
            <%= erb :footer %>
        </footer>
        <div id="to_top">^</div>
	</body>
</html>