<h1>Где нас найти?</h1>
<p>Адрес: 198097 г. Санкт-Петербург, пр. Стачек, 47 Автоцентр "Автово"</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d4004.5547285646485!2d30.258745688349524!3d59.87774448758165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m0!4m3!3m2!1d59.8780352!2d30.254025!5e0!3m2!1sru!2s!4v1394451005704" width="100%" height="450" frameborder="0" style="border:0"></iframe>