<form id="mini_form" type="post" action="/record">
	<h2>Запишитесь</h2>
	<p>на консультацию по вашему вопросу</p>
	<input type="text" name="name" placeholder="Ваше имя"/>
	<input type="tel" name="phone" placeholder="Ваш номер телефона"/>
	<input type="submit" value="Записаться" class="btn"/>
</form>