<h1>Заказы</h1>

<table>
	<tr>
		<td>id</td>
		<td>Клиент</td>
		<td>Телефон</td>
		<td>Email</td>
	</tr>
	<% index = 0; @orders.each do |order| %>
	<tr>
		<td><%= index %></td>
		<td><%= order[:name] %></td>
		<td><%= order[:phone] %></td>
		<td><a href="mailto:<%= order[:email] %>" "email me"><%= order[:email] %></a></td>
	</tr>
	<% index += 1 %>
	<% end %>
</table>