<h1>ОТЗЫВЫ КЛИЕНТОВ</h1>

<div class="review-table">
    <%
    	arr, count = [[], [], []], 0
    	@reviews.shuffle.each { |item| arr[count % 3] << item; count += 1 }
    %>
    <% arr.each do |sarr| %>
    <div class="review-td">
    	<% sarr.each do |review| %>
        <img src="<%= review[:image] %>" alt=""/>              
        <p>
        	<span><%= review[:name] %></span><br/>
        	<%= review[:review] %>
        </p>	
        <p class="border"></p>

        <br/>
        <% end %>
    </div>
    <% end %>
</div>