<h1>Почему выбирают нас</h1>
<ul>
  <% @selects.each do |item| %>
    <li>
      <img src="<%= item[:img] %>" alt=""/>
      <p><%= item[:text] %></p>
    </li>
  <% end %>
</ul>
<div id="garanty">
  <img src="./images/garanty.png" alt=""/>
  <p>Гарантия 9 месяцев<br> на все работы и материалы</p>
</div>