<h1>Наши услуги</h1>

<section class="tabsp" style="padding:0 0 50px 0">
	<input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" /><label for="tab-1" class="tab-label-1">Для физических лиц</label>
	<input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" /><label for="tab-2" class="tab-label-2">Для юридических лиц</label>
	<div class="clear-shadow"></div>
		
	<div class="content-p">
		<div class="content-1">
			<div class="price-table animate-on-scroll" data-scrollanimation="fadeUpIn">
				<div class="price-td">
					<div class="pr-box-tab"><div class="pr-box-td pr-head">Слесарные работы</div></div>
					<div class="pr-box-tab">
						<div class="pr-box-td grey1">
							<div class="see see1">
								<p>Техническое обслуживание(ТО)</p>
		                        <p>Диагностика и ремонт ДВС</p>
		                        <p>Диагностика и ремонт ходовой</p>
		                        <p>Диагностика и ремонт агрегатов</p>
		                        <p>Диагностика и ремонт тормозной системы</p>
		                        <p>Экспрес замена масла</p>
		                        <p>Развал/схождение</p>
							</div>
						</div>
					</div>
				</div>
				<div class="price-td">
					<div class="pr-box-tab"><div class="pr-box-td pr-head">Малярно-кузовные работы</div></div>
					<div class="pr-box-tab">
						<div class="pr-box-td grey1">
							<div class="see see2">
								<p>Локальный ремонт</p>
		                        <p>Замена и ремонт навесных элементов кузова</p>
		                        <p>Ремонт бамперов</p>
		                        <p>Устранение перекоса кузова</p>
		                        <p>Устраненние перекоса рам</p>
		                        <p>Покраска кузова</p>
		                        <p>Тектильная обработка днища и кузова</p>
		                        <p>Ремонт и замена несущих элементов кузова</p>
		                        <p>Герметизация внутренних полостей кузова</p>
							</div>
						</div>
					</div>
				</div>
				<div class="price-td">
					<div class="pr-box-tab"><div class="pr-box-td pr-head">Арматурные работы</div></div>
					<div class="pr-box-tab">
						<div class="pr-box-td grey">
							<div>
								<p>Замена всех элементов кузова</p>
		                        <p>Замена стекол</p>
		                        <p>Тонирование стекол/растонирование</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="price-table animate-on-scroll" data-scrollanimation="fadeUpIn">
				<div class="price-td">
					<div class="pr-box-tab"><div class="pr-box-td pr-head">Электро-диагностические работы</div></div>
					<div class="pr-box-tab">
						<div class="pr-box-td grey1">
							<div class="see see4">
								<p>Диагностика и ремонт электрооборудования</p>
		                        <p>Установка воб. оборудования</p>
		                        <p>Регулировка ...</p>
		                        <p>Установка сигнализации</p>
		                        <p>Заправка кондиционеров</p>
							</div>
						</div>
					</div>
				</div>
				<div class="price-td">
					<div class="pr-box-tab"><div class="pr-box-td pr-head">Шиномонтаж</div></div>
					<div class="pr-box-tab">
						<div class="pr-box-td grey1">
							<div class="see see5">
								<p>Шиномонтаж R12 - R22</p>
		                        <p>Ремонт железных дисков</p>
		                        <p>Ремонт шин и балансировка</p>
		                        <p>Хранение шин</p>
							</div>
						</div>
					</div>
				</div>
				<div class="price-td">
					<div class="pr-box-tab"><div class="pr-box-td pr-head">Мойка и ...</div></div>
					<div class="pr-box-tab">
						<div class="pr-box-td grey1">
							<div class="see see6">
								<p>Мойка</p>
		                        <p>Химчистка</p>
		                        <p>Полировка</p>
		                        <p>Дезинфекция</p>
		                        <p>Эвакуация</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-2">

		</div>
	</div>
</section>
