@font-face {
	font-family: univers;
    src: url(/fonts/univers.ttf);
}
* {
	margin: 0;
	box-sizing: -webkit-border-box;
	box-sizing:    -moz-border-box;
	box-sizing:     -ms-border-box;
	box-sizing:      -o-border-box;
	box-sizing:         border-box;
}
body {
	position: relative;
	margin: 60px auto 20px;
	background: lightgrey;
	width: 960px;
	height: 100%;
}
ul {
	list-style: none;
}
#header {
	position: fixed;	
	width: 100%;
	top: 0;
	left: 0;
	background: -webkit-linear-gradient(90deg, #010461, #313491, #010461);
	background:    -moz-linear-gradient(90deg, #010461, #313491, #010461);
	background:     -ms-linear-gradient(90deg, #010461, #313491, #010461);
	background:      -o-linear-gradient(90deg, #010461, #313491, #010461);
	background:         linear-gradient(90deg, #010461, #313491, #010461);
	box-shadow: 0 0 4px black;
	z-index: 9;
}
h1 {
	text-align: center;
	margin: 40px auto 20px;
	font-family: univers;
	text-transform: uppercase;
	font-size: 40px;
	color: white;
	text-shadow: 0 0 1px black,
				 1px 2px 3px black;
}
#header nav {
	border-radius: 0 0 10px 10px;
	text-align: center;
}
#header nav ul {
	list-style: none;
}
#header nav ul li {
	display: inline-block;
	padding: 8px 10px;
}
#header nav ul li a {
	text-decoration: none;
	font-family: univers;
	font-style: italic;
	text-transform: uppercase;
	font-size: 18px;
	text-shadow: 2px 2px 4px black;
	color: white;
}
#header nav ul li:hover {

}
#header nav ul li:hover a {
	text-shadow: 0 0 15px lightblue;
}

table {
	width: 100%;
	border-spacing: 0;
}
table tr:first-child td {
	text-align: center;
	font-weight: bold;
	background: #222;
	color: white;
	padding: 5px 10px;
}
table td {
	text-align: center;
}
table tr:nth-child(even) {
	background: darkgrey;
}
form[action*="create"] td {
	background: #028e9b;
}
input[type="text"],
input[type="url"],
input[type="image"],
input[type="email"],
input[type="datetime"],
textarea {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	padding: 5px 10px;
	overflow: hidden;
}