/*Slider*/
@font-face {
	font-family: for_slide;
	src: url(/fonts/exL0g0L5.ttf);
}
#slider {
	position: relative;
	overflow: hidden;
	width: 960px;
	height: 500px;
}
.sliders {
	padding: 0;
	position: absolute;
}
.sliders li {
	display: inline-block;
	height: 500px;
	float: left;
	width: 960px;
	margin: 0;
	padding: 0;
	position: relative;
}
.sliders li img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.sliders .desc {
	position: relative;
	margin-top: 350px;
	background: rgba(0, 0, 0, 0.4);
}
.sliders li h2, .sliders li p {
	display: inline-block;
	font-family: test;
	font-weight: bold;
	margin-left: -4px;
	color: white;
	text-shadow: 0 0 4px black;
}
.sliders li h2 {
	font-size: 34px;
	padding: 10px 30px;
}
.sliders li p {
	font-size: 16px;
	padding: 10px 40px;
	border-left: 2px solid white;
}
#slider>.prev, #slider>.next {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	padding: 10px;
	font-family: for_slide;
	font-size: 55px;
	font-weight: bolder;
	color: rgba(255, 255, 255, 0.3);
	z-index: 8;
	cursor: pointer;
}
#slider>.prev:hover, #slider>.next:hover {
	color: white;
}
#slider>.prev {
	left: 0;
}
#slider>.next {
	right: 0;
}