@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);
* {
	margin: 0;
	padding: 0;
	box-sizing:      border-box;
	box-sizing: -moz-border-box;
	font-family: "Open Sans";
}
img {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
p {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 13px;
	line-height: 1.625em;
}
html {
    min-height: 100%;
}
body {
    width: 1024px;
    margin: 0 auto;
    background: #eaeaea;
    background-attachment: fixed;
    text-align: center;
    overflow-x:hidden;
}
ul {
    list-style: none;
}
#header {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    z-index: 10;
}
.header-row {
	display: table-row;
	height: 33%;
}
.header-row > div {
	display: table-cell;
	vertical-align: middle;
}
#nav {
    width: 100%;
    text-align: center;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: #00BFFF;
    box-shadow: 0 0 2px #224;
    z-index: 20;
}
#nav ul {
    list-style: none;
    min-width: 960px;
}
#nav ul li {
    display: inline-block;
    padding: 8px 10px;
}
#sto_logo {
	display: inline-block;
}
#header .phone {
    font-family: "Open Sans";
    color: white;
    text-shadow: 4px 4px 6px black;
    font-size: 45px;
    font-style: italic;
    font-weight: bolder;
    padding-bottom: 15px;
    vertical-align: text-bottom;
    display: inline-block;
}
#nav ul li a {
    text-decoration: none;
    font-family: "Open Sans";
    /*font-style: italic;*/
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 1px 1px 3px black,
    			 0 0 5px black;
    color: white;
}
#nav ul li:hover a {
    text-shadow: 0 0 15px lightblue;
}
#main {
	margin-top: 100%;
}
#map p {
    color: #444;
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans";
    text-shadow: 1px 1px 2px black;
}
#header .background {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#header .background img {
	/*-webkit-filter: blur(0.1em);*/
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#header .background img:first-child {
	display: block;
}
#header .top-row {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid lightgrey;
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
	height: 280px;
	width: 400px;
	padding: 15px;
	margin: 10px;
	text-transform: uppercase;
	text-shadow: 0 0 1px #222,
				 1px 1px 3px white;
	line-height: 1.5;
}
.top-row span {
	color: #00BFFF;
	/*text-shadow: 1px 1px 2px #222;*/
}
#header .top-row > p {
	font-size: 30px;
	font-weight: bold;
}
#mini_form input {
	display: block;
	width: 100%;
	font-size: 20px;
	margin-top: 10px;
}
#mini_form input[type=text],
#mini_form input[type=tel] {
	padding: 10px 5px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ccc;
    background: -webkit-linear-gradient(to top, #ddd, #fff);
	background:    -moz-linear-gradient(to top, #ddd, #fff);
	background:         linear-gradient(to top, #ddd, #fff);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
#mini_form input[type=text]:focus,
#mini_form input[type=tel]:focus {
	outline: none;
	box-shadow: 0 0 10px rgba(50, 200, 255, 0.5);
}
#mini_form input[type=submit] {
	padding: 10px 5px;
	border-radius: 5px;
	border: none;
	font-family: "Open Sans";
}
.slider .next, .slider .prev {
	width: 10%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
	cursor: pointer;
}
.slider .prev {
	left: 0;
	background: -webkit-linear-gradient(to right, rgba(2, 2, 2, 0.5), transparent);
	background:    -moz-linear-gradient(to right, rgba(2, 2, 2, 0.5), transparent);
	background:     -ms-linear-gradient(to right, rgba(2, 2, 2, 0.5), transparent);
	background:      -o-linear-gradient(to right, rgba(2, 2, 2, 0.5), transparent);
	background:         linear-gradient(to right, rgba(2, 2, 2, 0.5), transparent);
}
.slider .next {
	right: 0;
	background: -webkit-linear-gradient(to left, rgba(2, 2, 2, 0.5), transparent);
	background:    -moz-linear-gradient(to left, rgba(2, 2, 2, 0.5), transparent);
	background:     -ms-linear-gradient(to left, rgba(2, 2, 2, 0.5), transparent);
	background:      -o-linear-gradient(to left, rgba(2, 2, 2, 0.5), transparent);
	background:         linear-gradient(to left, rgba(2, 2, 2, 0.5), transparent);
}

.slider .prev:hover {
	background: -webkit-linear-gradient(to right, rgba(2, 2, 2, 0.7), transparent);
	background:    -moz-linear-gradient(to right, rgba(2, 2, 2, 0.7), transparent);
	background:     -ms-linear-gradient(to right, rgba(2, 2, 2, 0.7), transparent);
	background:      -o-linear-gradient(to right, rgba(2, 2, 2, 0.7), transparent);
	background:         linear-gradient(to right, rgba(2, 2, 2, 0.7), transparent);
}
.slider .next:hover {
	background: -webkit-linear-gradient(to left, rgba(2, 2, 2, 0.7), transparent);
	background:    -moz-linear-gradient(to left, rgba(2, 2, 2, 0.7), transparent);
	background:     -ms-linear-gradient(to left, rgba(2, 2, 2, 0.7), transparent);
	background:      -o-linear-gradient(to left, rgba(2, 2, 2, 0.7), transparent);
	background:         linear-gradient(to left, rgba(2, 2, 2, 0.7), transparent);
}
/**/
.group {
    padding: 60px 0 0 0;
    position: relative;
}
.group:before {
	content: "";
	width: 1000%;
	height: 100%;
	position: absolute;
	left: -50%;
	top: 0;
	z-index: -1;
}
.group > h1 {
    font-family: "Open Sans";
    text-transform: uppercase;
    text-shadow: 1px 1px 1px grey;
    color: #444;
    font-size: 48px;
    font-weight: 300;
}
#footer {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: "Open Sans";
    font-size: 20px;
    color: #222;
    text-shadow: 1px 1px 1px black;
	position: relative;
}
#footer>* {
	margin: 5px 0;
}
#footer:after {
	content:"";
	position: absolute;
	z-index: -1;
    border-top: 1px solid #222;
	top: 0;
	left: -50%;
	width: 1000%;
	height: 100%;
}
/* Services*/
.tabsp {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	width: 960px;
}
.tabsp input {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	width: 300px;
	height: 40px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	cursor: pointer;
}
.tabsp input:checked + label {
	background: #f1f1f1;
	z-index: 6;
	color: #333;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
.tabsp label:first-of-type {
	z-index: 4;
	box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}
.tabsp label {
	background: #00BFFF;
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
	float: left;
	display: block;
	width: 260px;
	color: #f1f1f1;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 3px 3px 0 0;
	box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}
.tabsp label:after {
	content: '';
	background: #f1f1f1;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}
.tabsp input#tab-2 {
	left: 300px;
}
.tab-label-2 {
	z-index: 3;
}
.clear-shadow {
	clear: both;
}
.content-p {
	background: #f1f1f1;
	position: relative;
	width: 100%;
	/*height: 650px;*/
	z-index: 5;
	box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
	border-radius: 0 3px 3px 3px;
	-webkit-transition: all 2.5s ease;
	-moz-transition: all 2.5s ease;
	-o-transition: all 2.5s ease;
	transition: all 2.5s ease;
}
.tabsp input.tab-selector-1:checked ~ .content-p .content-1, .tabsp input.tab-selector-2:checked ~ .content-p .content-2 {
	z-index: 100;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity ease-out 0.2s 0.1s;
	-moz-transition: opacity ease-out 0.2s 0.1s;
	-o-transition: opacity ease-out 0.2s 0.1s;
	-ms-transition: opacity ease-out 0.2s 0.1s;
	transition: opacity ease-out 0.2s 0.1s;
}
.content-p .content-1, .content-p .content-2 {
	position: absolute;
	top: 0;
	left: 0;
	background: #f1f1f1;
	padding: 10px 40px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity linear 0.1s;
	-moz-transition: opacity linear 0.1s;
	-o-transition: opacity linear 0.1s;
	-ms-transition: opacity linear 0.1s;
	transition: opacity linear 0.1s;
}
.price-table {
	display: table;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
	table-layout: fixed;
}
.fadeUpIn {
	opacity: 1;
	animation: fadeUpIn 1s;
	-webkit-animation: fadeUpIn 1s;
	-moz-animation: fadeUpIn 1s;
}
.scroll-animation-init {
	opacity: 0;
}
.price-td {
	display: table-cell;
	vertical-align: top;
	border-right: 10px solid #f1f1f1;
	border-bottom: 5px solid #f1f1f1;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.pr-box-tab {
	display: table;
	width: 100%;
}
.pr-box-td {
	display: table-cell;
	vertical-align: top;
	padding: 15px 5px 10px 10px;
	height: 135px;
	background-color: #999;
}
.pr-head {
	font-size: 14px!important;
	color: #fff;
	font-weight: 300;
	padding: 10px 10px!important;
	border-radius: 5px 5px 0 0;
	height: auto!important;
}
.grey {
	background-color: #fff!important;
	border-radius: 0 0 5px 5px;
}
.grey1 {
	background-color: #fff!important;
	background-image: url('/images/reveal.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 20px!important;
	border-bottom: 2px solid #ccc;
	border-radius: 0 0 5px 5px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.grey1:hover{background-color:#fff!important;background-image:url('/images/reveal-back.png');}
.see {
	position: relative;
	background-color: #fff!important;
	overflow: hidden;
	height: 103px;
	padding-bottom: 50px!important;
	border-bottom: 1px solid #fff;
	-webkit-transition: all 2.5s ease;
	-moz-transition: all 2.5s ease;
	-o-transition: all 2.5s ease;
	transition: all 2.5s ease;
}
.see1:hover { height: 205px; }
.see2:hover { height: 300px; }
.see4:hover { height: 150px; }
.see5:hover { height: 105px; }
.see6:hover { height: 130px; }
.pr-box-td p {
	font-size: 13px;
	line-height: 15px;
	padding-left: 20px;
	background: url('/images/tire-list.png') no-repeat left 8px;
	text-align: left;
}
.pr-box-td i {
	font-size: 11px;
	color: #aaa;
}

/* Кнопка заказа */
.btn {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans";
    padding: 5px 10px;
    background: -webkit-linear-gradient(aqua, #1E90FF);
    background:    -moz-linear-gradient(aqua, #1E90FF);
    background: 	-ms-linear-gradient(aqua, #1E90FF);
    background: 	 -o-linear-gradient(aqua, #1E90FF);
    background:         linear-gradient(aqua, #1E90FF);
    color: white;
    text-shadow: 0 1px 1px #222;
    box-shadow: 2px 2px 4px #222;
    text-decoration: none;
}
.btn:hover {
    text-shadow: 0 2px 2px #222;
    box-shadow: 2px 2px 2px #222 inset;
}
.btn.invert {
    background: -webkit-linear-gradient(white, #eee);
    background:    -moz-linear-gradient(white, #eee);
    background: 	-ms-linear-gradient(white, #eee);
    background: 	 -o-linear-gradient(white, #eee);
    background:         linear-gradient(white, #eee);
    color: #20B2AA;
    box-shadow: 2px 2px 4px #1e90ff;
}
.btn.invert:hover {
    text-shadow: 0 2px 2px aqua;
    box-shadow: 2px 2px 2px aqua inset;	
}
/* Отзывы */
.review-table {
	margin-top: 40px;
	display: table;
	width: 100%;
	position: relative;
	table-layout: fixed;
	vertical-align: baseline;
}
.review-td {
	display: table-cell;
	vertical-align: top;
	padding: 0 10px;
	text-align: center;
}
.review-td p {
	font-size: 12px;
	text-align: left;
	margin: 0;
	font-weight: 400;
}
.review-td p span {
	font-size: 15px;
	font-weight: 700;
}
.review-td img {
	padding: 0;
	line-height: 1;
	margin: 0 auto;
	border: 0px solid #fff;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
}
.border {
	border-top: 1px solid #ccc;
	margin: 5px 50px 5px 0!important;
}

.quote {
	background-image: url(/images/quote.png);
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	background-size: cover;
}
/* Таблица партнеров */
.partners {
	padding: 50px 25px;
}
.partners li {
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}
.partners li img {
	opacity: 0.5;	
}
.filler:hover {
	opacity: 0;
}

/* Форма заказа */
#go {
	position: relative;
}
#go form {
    width: 750px;
    margin: 0 auto;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.f1 {
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
}
#go label {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 6px #333;
}
#go label:first-child {
    margin-top: 0;
}
#go input[type="text"],
#go input[type="email"],
#go input[type="tel"] {
    display: inline-block;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    background: -webkit-linear-gradient(to top, #ddd, #fff);
	background:    -moz-linear-gradient(to top, #ddd, #fff);
	background:         linear-gradient(to top, #ddd, #fff);
    border-radius: 55px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: 16px;
}
#go input[type="text"]:focus,
#go input[type="email"]:focus,
#go input[type="tel"]:focus {
    box-shadow: 0 0 10px rgba(50, 200, 255, 0.5);
    outline: none;
}
#go input[type="submit"], .big-btn {
    display: block;
    padding: 10px 20px;
    font-weight: bolder;
    margin: 1em auto;
    font-size: 30px;
/*	background: -webkit-linear-gradient(to top, #47e99f, #36d88e);
	background:    -moz-linear-gradient(to top, #47e99f, #36d88e);
	background:         linear-gradient(to top, #47e99f, #36d88e);*/
    color: white;
    text-shadow: 1px 2px 2px #333;
    border: none;
    border-radius: 125px;
    box-shadow: 2px 4px 4px #333;
    outline: none;
}
#go input[type="submit"]:hover, .big-btn:hover {
/*	background: -webkit-linear-gradient(to top, #36d88e, #25c77d);
	background:    -moz-linear-gradient(to top, #36d88e, #25c77d);
	background: 	-ms-linear-gradient(to top, #36d88e, #25c77d);
	background: 	 -o-linear-gradient(to top, #36d88e, #25c77d);
	background:         linear-gradient(to top, #36d88e, #25c77d);*/
    color: white;
}
.big-btn {
	display: inline-block;
	text-decoration: none;
}
#go form h1 {
	color: white;
	font-family: "Open Sans";
	font-weight: 300;
	text-shadow: 0 0 2px black;
	/*font-family: test;*/
	/*font-weight: 300;*/
	font-size: 48px;
}
#to_top {
	position: fixed;
	width: 30px;
	height: 30px;
	font-family: "Open Sans";
	font-weight: bold;
	color: white;
	background: #00BFFF;
	bottom: 10px;
	right: 10px;
	border-radius: 100px;
	text-decoration: none;
	font-size: 26px;
	text-shadow: 0 0 1px blue;
	box-shadow: 1px 1px 2px black;
	cursor: pointer;
}
#to_top:hover {
	background: #11aeee;
	box-shadow: 0 0 4px black;
}
/**/
#garanty {
	margin: 10px 0;
	position: relative;
}
#garanty:after {
	content:"";
	position: absolute;
	width: 1000%;
	height: 100%;
	background: #00BFFF;
	top: 0;
	left: -50%;
	z-index: -1;
}
#garanty>* {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0 20px;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #222;
	color: #fff;
}
#garanty>img {
	width: 200px;
}
/* Акции */
#actions {

}
#actions h1 {

}
#actions i {
	display: inline-block;
	padding: 10px;
	margin: 0;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	color: white;
	text-shadow: 1px 2px 4px #333;
	border-radius: 5px;
}
#actions .num {
	box-shadow: 2px 2px 4px #333;
    background: #00BFFF;
}
#actions .del {
	padding: 10px 0;
	color: #00BFFF;
}
.actions {
	list-style: none;

}
.actions li {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}
.big-text {
	display: block;
	font-size: 48px;
	font-weight: 100;
	font-family: "Open Sans";
	text-shadow: 2px 2px 4px #333;
	color: #444;
	margin-top: 40px;
}

.actions li:before, .actions li:after {
	position: absolute;
	content: "";
	top: -5%;
	width: 200%;
	height: 110%;
	z-index: -1;
}
.actions li:before {
	background: linear-gradient(105deg, #00BFFF 50%, transparent 50%);
	left: -91%;
}
.actions li:after {
	background: linear-gradient(105deg, transparent 50%, #00BFFF 50%);
	left: -43%;
}
.actions li:nth-child(2n):before {
	background: linear-gradient(75deg, #00BFFF 50%, transparent 50%);
}
.actions li:nth-child(2n):after {
	background: linear-gradient(75deg, transparent 50%, #00BFFF 50%);
}

.left-span, .right-span {
	padding: 80px 0;
	display: inline-block;

}
.left-span {
	width: 60%;
}
.right-span {
	width: 30%;
}
.right-span .desc {
	position: relative;
	display: block;
	margin: 0;
	padding: 20px;
	/*font-family: test;*/
	text-shadow: 1px 1px 2px #333;
	font-size: 22px;
	color: white;
	margin-bottom: 20px;
}
.left-span .timer {
	position: relative;
}
.right-span .btn {
	font-size: 26px;
	padding: 10px 15px;
	font-family: "Open Sans";
}

/* Module frame */
.module {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*margin-top: -25%;*/
	background: -webkit-linear-gradient(90deg, #36d88e, #313491, #36d88e);
	background:    -moz-linear-gradient(90deg, #36d88e, #313491, #36d88e);
	background:     -ms-linear-gradient(90deg, #36d88e, #313491, #36d88e);
	background:      -o-linear-gradient(90deg, #36d88e, #313491, #36d88e);
	background:         linear-gradient(90deg, #36d88e, #313491, #36d88e);
	padding: 40px;
	z-index: 5;
}
/*.module:before {
	content: "";
	position: absolute;
	top: 0;
	left: -20%;
	width: 100%;
	height: 100%;
	background: linear-gradient(105deg, #36d88e 50%, transparent 50%);
	z-index: -1;
}
.module:after {
	content: "";
	position: absolute;
	top: 0;
	left: 15%;
	width: 100%;
	height: 100%;
	background: linear-gradient(-75deg, #36d88e 50%, transparent 50%);
	z-index: -1;
}*/
.module .text {
	color: white;
	font-size: 25px;
	font-family: "Open Sans";
	text-shadow: 1px 2px 2px black;
}
.module .error {
	display: block;
	color: red;
	text-shadow: 2px 2px 3px black;
	font-size: 35px;
	margin: 20px;
}
.module .big-btn {
	margin-top: 50px;
}

/* Sertificates */
.sertificates {
	padding: 40px;
}
#sertification h1 {
	color: white !important;
}
.sertificates:after {
	content:"";
	position: absolute;
	z-index: -1;
	width: 1000%;
	height: 100%;
	background: -webkit-linear-gradient(to top, #1E90FF, #00BFFF, #1E90FF);
	background:    -moz-linear-gradient(to top, #1E90FF, #00BFFF, #1E90FF);
	background:     -ms-linear-gradient(to top, #1E90FF, #00BFFF, #1E90FF);
	background:      -o-linear-gradient(to top, #1E90FF, #00BFFF, #1E90FF);
	background:         linear-gradient(to top, #1E90FF, #00BFFF, #1E90FF);
	top: 0;
	left: -50%;
}
.sertificates li {
	display: inline-block;
	margin: 10px;
}
.min-img {
	width: 150px;
	opacity: 0.7;
	cursor: pointer;
}
.sertificates li:nth-child(1) .min-img, .sertificates li:nth-child(2) .min-img {
	width: 400px;
	height: 283px;
}
#moduleimg {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(1, 4, 33, 0.8);
	cursor: pointer;
	z-index: 12;
}
#moduleimg img {
	position: absolute;
	top: 50%;
	left: 50%;
}
/* Select */
#select ul {
    margin-top: 20px;
    list-style: none;
    width: 100%;
}
#select ul li {
    width: 18%;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 10px;
}
#select ul li:hover {
	background: white;
}
#select ul li img {
    width: 165px;
    height: 165px;
    border-radius: 100%;
    box-shadow: 1px 2px 4px #222;
}
#services {
	min-height: 650px;
}